@font-face {
    font-family: 'verdemoderna';
    src: url(resources/verdemoderna.woff) format('woff2');
}
@font-face {
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(resources/julius.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Libre Italic';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(resources/baskervillecursive.woff2) format('woff2');
}
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(resources/baskerville.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(resources/baskerville.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
a {
    color: #0d8ba1;
    text-decoration-line: none;
}
body {
    border-top: 10px #134347 solid;
    height: 100%;
    background-size: cover cover cover;
    background-repeat: repeat, repeat, repeat;
    font-family: 'Libre Baskerville', 'sans-serif';
    font-style: normal;
    color: #325050;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
@media (min-width: 1131px) {
    h1 {
        font-family: 'Julius Sans One', sans-serif;
        position: relative;
        right: 70%;
    }
    h2 {
        font-family: 'Libre Italic';
        color:  rgba(255, 255, 255, 0.6);
        font-size: 18px;
        line-height: 40px;
        margin-bottom: 40px;
        position: relative;
        right: 64%;
    }
    .main-grid-container {
        display: grid;
        grid-template-columns: 66% 33%;
        grid-template-rows: auto auto auto auto;
        height: 100%;
    }
    .main-grid-container h3 {
        font-weight: 250;
        font-size: 22px;
        font-family: 'Julius Sans One', 'sans-serif';
    }
    .item-one {
        padding: 10px;
        background-image: url(resources/contours.png), url(resources/gridlines.png), url(resources/huntington.jpg);
        background-size: cover cover cover;
        background-repeat: repeat, repeat, no-repeat;
        display: grid;
        grid-template-rows: auto auto auto 35%;
        justify-content: center;
        align-content: center;
        color: white;
        position: relative;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #img-enso {
        height: 50px;
        width: 50px;
        opacity: .7;
        margin-top: 50px;
        margin-bottom: 12px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        right: 70%;
    }
    .item-two {
        font-family: 'Julius Sans One', 'sans-serif';
        font-weight: bold;
        color: rgba(255, 255, 255, 0.8);
        background-color: rgba(255, 255, 255, 0.2);
        position: absolute;
        right: 5%;
        bottom: 40%;
        width: 20%;
        height: 30%;
        display: grid;
        grid-template-columns: 80% 20%;
    }
    .navigator{
        text-align: center;
        font-size: 16px;
        padding: 27px;
        color: rgba(255, 255, 255, 0.6);
        transition: background-color .6s;
        border-right: solid 1px #134347;
    }
    .navigator:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
    }
    .indicator {
        font-family: 'Verdemoderna', 'sans-serif';
        font-weight: lighter;
        text-align: center;
        padding: 10px;
        font-size: 45px;
        color: rgba(255, 255, 255, 0.6);
        transition: background-color .6s;
    }
    .indicator:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
    }
    .empty {
        display: none;
    }
    .item-three {
        color: #134347;
        line-height: 25px;
        font-size: 14px;
        font-weight: 500;
        padding: 35px;
    }
    .item-three a span {
        font-family: 'Verdemoderna', 'sans-serif';
        background-color: rgba(133, 162, 145, 0.5);
    }
    .item-three a {
        color: rgba(124, 130, 127, 0.8);
    }
    .item-three a:hover {
        background-color: #134347;
        color: white;
    }
    .item-four {
        display: grid;
        padding: 12px;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        font-family: 'Libre Italic', 'sans-serif';
        color: rgba(138,188,159,0.8);
        background-color: #f4fcf7;
        font-weight: 600;
    }
    .item-four div {
        padding: 30px;
        border-top: 1px rgba(138,188,159,0.3) solid;
        border-bottom: 1px rgba(138,188,159,0.3) solid; 
    }
    .item-four .design-name {
        font-family: 'Julius Sans One', 'sans-serif';
        font-size: 16px;
        color: #134347;
        font-weight: lighter;
    }
    .item-four .designer-name {
        font-family: 'Libre Baskerville', 'sans-serif';
        font-size: 12px;
        color: #637272;
    }
    .item-five {
        color: #134347;
        line-height: 25px;
        font-size: 14px;
        font-weight: 500;
        padding: 35px;
        background-color: rgba(148, 186, 164, 0.5);
        background-image: url(resources/bamboo.png), url(resources/contours-opaque.png), url(resources/gridlines.png);
        background-size: contain contain cover;
        background-repeat: repeat, repeat, no-repeat;
        background-size: cover cover;
        background-repeat: repeat, repeat;
    }
    .item-six {
        padding: 10px;
        background-color: rgba(114, 196, 148, 0.5);
        background-image: url(resources/bamboo.png), url(resources/contours-opaque.png), url(resources/gridlines.png);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        font-family: 'Julius Sans One', 'sans-serif';
        font-size: 16px;
        color: #134347;
    }
    
    .item-six div {
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 40px;
        border-bottom: 1px rgba(138,188,159,0.3) solid; 
    }
    .item-seven {
        color: #134347;
        line-height: 25px;
        font-size: 14px;
        font-weight: 500;
        padding: 35px;
    }
    .item-eight {
        background-color: #f4fcf7;
    }
    .item-nine {
        text-align: center;
        padding: 70px;
        background-image: url(resources/contours.png), url(resources/gridlines.png), url(resources/koi.jpg);
        background-size: contain contain cover;
        background-repeat: repeat, repeat, no-repeat;
        color: rgba(255, 255, 255, 0.4);
        font-family: 'Libre Italic', 'sans-serif';
        font-style: italic;
        font-weight: 600;
        font-size: 24px;
        line-height: 44px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .item-nine a {
        color: rgba(255, 255, 255, 0.8);
        font-style: normal;
        font-family: 'Libre Baskerville', 'sans-serif';
    }
    .item-ten {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        text-align: center;
        padding:10px;
        background-color: #134347;
        color:  rgba(255, 255, 255, 0.7);
        font-family: 'verdemoderna';
        font-size: 60px;
        -webkit-font-smoothing: antialiased;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    * {
        box-sizing: border-box;
        margin: 0px;
    }
}
@media (max-width: 1130px){
    html {
        height: 100%;
    }
    body {
        border-top: 10px #134347 solid;
        height: 100%;
        background-size: cover cover cover;
        background-repeat: repeat, repeat, no-repeat;
        font-family: 'Libre Baskerville', 'sans-serif';
        font-style: normal;
        color: #325050;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
    }
    h1 {
        font-family: 'Julius Sans One', sans-serif;
    }
    h2 {
        font-family: 'Libre Italic';
        color:  rgba(255, 255, 255, 0.6);
        font-size: 18px;
        line-height: 40px;
        margin-bottom: 40px;
        position: relative;
        left: 12px;
    }
    .main-grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        height: 100%;
    }
    .main-grid-container h3 {
        font-weight: 250;
        font-size: 22px;
        font-family: 'Julius Sans One', 'sans-serif';
    }
    .item-one {
        padding: 10px;
        background-image: url(resources/contours.png), url(resources/gridlines.png), url(resources/huntington.jpg);
        background-size: cover cover cover;
        background-repeat: repeat, repeat, repeat;
        grid-row-start: 1;
        grid-row-end: 2;
        display: grid;
        grid-template-rows: auto auto auto 35%;
        justify-content: center;
        align-content: center;
        color: white;
        position: relative;
    }
    #img-enso {
        height: 50px;
        width: 50px;
        opacity: .7;
        margin-top: 50px;
        margin-bottom: 12px;
        margin-right: auto;
        margin-left: auto;
    }
    .item-two {
        font-family: 'Julius Sans One', 'sans-serif';
        font-weight: bold;
        color: rgba(255, 255, 255, 0.8);
        background-color: rgba(255, 255, 255, 0.2);
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 30%;
        display: grid;
        grid-template-columns: 20% 60% 20%;
    }
    .navigator{
        text-align: center;
        padding: 28px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);
        transition: background-color .6s;
    }
    .navigator:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
    }
    .indicator {
        font-family: 'Verdemoderna', 'sans-serif';
        font-weight: lighter;
        text-align: center;
        padding: 10px;
        font-size: 45px;
        color: rgba(255, 255, 255, 0.6);
        transition: background-color .6s;
    }
    .indicator:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
    }
    .item-three {
        color: #134347;
        line-height: 25px;
        font-size: 14px;
        font-weight: 500;
        padding: 35px;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .item-three a span {
        font-family: 'Verdemoderna', 'sans-serif';
        background-color: rgba(133, 162, 145, 0.5);
    }
    .item-three a {
        color: rgba(124, 130, 127, 0.8);
    }
    .item-three a:hover {
        background-color: #134347;
        color: white;
    }
    .item-four {
        display: grid;
        padding: 12px;
        grid-row-start: 7;
        grid-row-end: 8;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        font-family: 'Libre Italic', 'sans-serif';
        color: rgba(161, 167, 164, 0.8);
        background-color: #f4fcf7;
        font-weight: 600;
    }
    .item-four div {
        padding: 10px;
        border-top: 1px #e6eed9 solid;
        border-bottom: 1px #e6eed9 solid; 
    }
    .item-four .design-name {
        font-family: 'Julius Sans One', 'sans-serif';
        font-size: 16px;
        color: #134347;
        font-weight: lighter;
    }
    .item-four .designer-name {
        font-family: 'Libre Baskerville', 'sans-serif';
        font-size: 12px;
        color: #616857;
        font-weight: 400;
    }
    .item-five {
        color: #134347;
        line-height: 25px;
        font-size: 14px;
        font-weight: 500;
        padding: 35px;
        background-color: rgba(138,188,159,0.5);
        background-image: url(resources/bamboo.png), url(resources/contours-opaque.png), url(resources/gridlines.png);
        background-size: contain contain cover;
        background-repeat: repeat, repeat, no-repeat;
        background-size: cover cover;
        background-repeat: repeat, repeat;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .item-six {
        padding: 10px;
        background-color: rgba(138,188,159,0.5);
        background-image: url(resources/bamboo.png), url(resources/contours-opaque.png), url(resources/gridlines.png);
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        font-family: 'Julius Sans One', 'sans-serif';
        font-size: 16px;
        color: #134347;
        grid-row-start: 8;
        grid-row-end: 9;
    }
    .item-six div {
        padding: 10px;
        border-bottom: 1px rgba(138,188,159,0.3) solid; 
    }
    .item-seven {
        color: #134347;
        line-height: 25px;
        font-size: 14px;
        font-weight: 500;
        padding: 35px;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .item-eight {
        background-color: darkolivegreen;
        display: none;
    }
    .item-nine {
        text-align: center;
        padding: 40px;
        background-image: url(resources/contours.png), url(resources/gridlines.png), url(resources/koi.jpg);
        background-size: contain contain cover;
        background-repeat: repeat, repeat, no-repeat;
        color: rgba(255, 255, 255, 0.4);
        font-family: 'Libre Italic', 'sans-serif';
        font-style: italic;
        font-weight: 600;
        font-size: 24px;
        line-height: 44px;
    }
    .item-nine a {
        color: rgba(255, 255, 255, 0.8);
        font-style: normal;
        font-family: 'Libre Baskerville', 'sans-serif';
    }
    .item-ten {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        text-align: center;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-right: 50px;
        padding-left: 50px;
        background-color: #134347;
        color:  rgba(255, 255, 255, 0.4);
        font-family: 'verdemoderna';
        font-size: 40px;
        -webkit-font-smoothing: antialiased;
    }
}
* {
    box-sizing: border-box;
    margin: 0px;
}